@model IEnumerable<wedstrijdplannenmvc.Models.TeamWedstrijd>

@{
    ViewData["Title"] = "ToonSchemaVoorTeam";
    int increment = 0;
    //string formname = "myForm"+ increment.ToString();
    //string uitslag = String.Empty;
}
    @ViewData["thuisteam"]
<h1 class="myheaders">ToonSchemaVoorTeam</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Thuisteam
            </th>
            <th>
                Uiteam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Westrijd.datum)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Westrijd.thuisteamuitslag)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var group in Model.GroupBy(y => y.WedstrijdId).ToList())
        {

            increment++;
            bool boolean = true;
            int thuisteamid = 0;
        <form name="myForm @increment.ToString()" asp-action="ToonSchemaVoorTeam" method="post" onsubmit="return JavaScriptValidation(this)">
        <tr>
            
            @foreach (var user in group.OrderBy(x => x, new SortTeams()).ToList())
            {
                    if (boolean)
                     {
                    <td>
                        @Html.DisplayFor(modelItem => user.team.Naam)
                    </td>
                    thuisteamid = user.TeamId;
                    boolean = false;
                    continue;
                }

                    <td>
                        @Html.DisplayFor(modelItem => user.team.Naam)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => user.Westrijd.datum)
                    </td>
                    <td>
                        @if (user.Westrijd.thuisteamuitslag != "")
                        {
                            @user.Westrijd.thuisteamuitslag
                        }
                        else
                        {
                            <input type="hidden" id="wedstrijdId" name="wedstrijdId" value=@user.Westrijd.Id>                          
                            <input type="hidden" id="thuisteamId" name="thuisteamId" value=@thuisteamid>

                            <input class="e-input" name='inputthuisteam' type="text" placeholder="thuisteam" />
                            @Html.Raw("-")
                            <input type="hidden" id="uitteamId" name="uitteamId" value=@user.team.Id>
                            <input class="e-input" name='inputuitteam' type="text" placeholder="uitteam" />

                        }

                    </td>

                    <td>
                        @if (user.Westrijd.thuisteamuitslag == "")
                        {
                        <a asp-action="SpeelSchema"><button type="submit" class="AddUitslagButton">Add</button></a>
                        }
                    </td>
            }


                </tr>
                </form>
        }

            </tbody>
        </table>

<div class="wrapperCompetitiestand">
    <a asp-action="SpeelSchema"><button class="mybutton BackButton">Back</button></a>
</div>